{% extends "layout.html" %}

{% block head %}
<script type=text/javascript>
$(function() {
    $('a#get-json').bind('click', function() {
        $.getJSON($SCRIPT_ROOT + '/_api/load_json', {
            url: $('input#url').val(),
        }, 
        function(data) {
            json = JSON.parse(data.content)
            console.debug(json);
            $("#result").text(data.content);
        });
        return false;
    });
    $('a#load-json').bind('click', function() {
        window.location.href = 'load?url=' + $('input#url').val();
    });

});
</script>
{% endblock %}

{% block body %}
<h1>Load Any JSON:</h1>

<input id="url" type="text" style="width:500px" value="http://www.myexperiment.org/files/1376/versions/1/download/miniworld.json"></input>
<a id="get-json" href="#">Get JSON (AJAX)</a>
<a id="load-json" href="#">Load JSON in new page</a>
<a href="/page.html">Load HTML page</a>
<div id="result"></div>
{% endblock %}

