{% extends "layout.html" %}

{% block head %}
<title>Systo model hub</title>

{% endblock %}

{% block top %}
<h1><a href="/">Systo</a></h1>
<p>Open systems modelling</p>
{% endblock %}

{% block content %}
<h3>Model hub</h3>

<p>This page gives you access to a variety of Systo-based applications which can let you view, edit and run Systo models.</p>  
<p>One way of accessing this page is by searching for Systo models on <a href="http://www.myexperiment.org/workflows?filter=TYPE_ID%28%22115%22%29">myExperiment</a>, selecting a particular model, then clicking on the link in the Run field for that model.</p>
<p>Alternatively, you can use this page for <u>any</u> Systo model stored on the web, by entering its URL after the URL for this page, i.e.<br/>http://flask.systo.org/modelhub.html?modelurl=<i>URL for the model you want to load]</i></p>


<table style="border:none">
    <tr>
        <th>Systo page</th>
        <th>Description</th>
    </tr>
    <tr>
        <td width="200px"><a id="systolite">SystoLite</a></td>
        <td>SystoLite is a very simple environment for System Dynamics modelling.  It allows viewing and editing othe model diagram, and simple displays (graph, table) for viewing simulation results.</td>
    </tr>
</table>
<script>
var queryString = window.location.search.substring(1);
document.getElementById('systolite').setAttribute('href', 'systolite.html?'+queryString)
</script>
{% endblock %}
