<div id="leftnav">
    <p>
    <a href="https://systoblog.wordpress.com/2014/04/27/welcome-to-the-systo-blog/">About</a><br/>
    {% if request.path == '/demos.html' %}<b>Demos</b><br/>{% else %}<a href="demos.html">Demos</a><br/>{% endif %}
    {% if request.path == '/languages.html' %}<b>Langauges</b><br/>{% else %}<a href="languages.html">Langauges</a><br/>{% endif %}
    {% if request.path == '/widgets.html' %}<b>Widgets</b><br/>{% else %}<a href="widgets.html">Widgets</a><br/>{% endif %}
    {% if request.path == '/models.html' %}<b>Models</b><br/>{% else %}<a href="models.html">Models</a><br/>{% endif %}
    <a href="systolite.html">SystoLite</a><br/>
    <a href="https://systoblog.wordpress.com/about/">Contact</a><br/>
    <a href="https://systoblog.wordpress.com/">Blog</a><br/>
    </p>
</div>   <!-- end of #container:#leftnav -->
