<div id="leftnav">
    <p>
    <a href="https://systoblog.wordpress.com/2014/04/27/welcome-to-the-systo-blog/">About</a><br/>
    <a href="demos.html">Demos</a><br/>
    <a href="languages.html">Languages</a><br/>
    <a href="widgets.html">Widgets</a><br/>
    <a href="models.html">Models</a><br/>
    <a href="systolite.html">SystoLite</a><br/>
    <a href="https://systoblog.wordpress.com/about/">Contact</a><br/>
    <a href="https://systoblog.wordpress.com/">Blog</a><br/>
    </p>
</div>   <!-- end of #container:#leftnav -->
