        <!-- Systo core - defines the SYSTO global variable and some core functions -->
        <script type="text/javascript" src="/static/js/systo.js"></script>

        <!-- Core libraries -->
        <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
        <script src="https://ajax.googleapis.com/ajax/libs/jqueryui/1.11.4/jquery-ui.min.js"></script>
	<script type="text/javascript" src="/static/js/jquery.layout-latest.js"></script>
	<script type="text/javascript" src="/static/js/systo_widgets/jquery.ui.widget.js"></script>
        <script type="text/javascript" src="/static/js/formatting.js"></script>
        <script type="text/javascript" src="/static/js/Blob.js"></script>
        <script type="text/javascript" src="/static/js/FileSaver.js"></script>

        <!-- Supplementary Systo code -->
        <!--script type="text/javascript" src="/static/js/generate_simulation_code_v1.js"></script-->
        <script type="text/javascript" src="/static/js/simulation.js"></script>
        <script type="text/javascript" src="/static/js/action.js"></script>
        <script type="text/javascript" src="/static/js/equation.js"></script>
        <script type="text/javascript" src="/static/js/functions.js"></script>
        <script type="text/javascript" src="/static/js/plugins/codeGenerator/euler1.js"></script>
        <script type="text/javascript" src="/static/js/plugins/codeGenerator/euler2.js"></script>
        <script type="text/javascript" src="/static/js/plugins/codeGenerator/rk41.js"></script>
        <script type="text/javascript" src="/static/js/plugins/codeGenerator/euler1animate.js"></script>
