<!doctype html>
<html lang="en">
    <head>
        <title>Systo at UK SD, 27 March 2015</title>
        <style>
        body   {
            font-family:sans-serif; 
            font-size:15px;
        }

        h2     {text-align:center;}

        table  {
            table-layout:fixed;
            font-family:sans-serif; 
            font-size:15px;
            border-collapse:collapse;
            text-decoration:none;
        }

        th     {border:solid 1px #808080;
            vertical-align:top;
            text-align:left;
            padding:7px;
        }

        td     {border:solid 1px #808080;
            vertical-align:top;
            text-align:left;
            padding:7px;
            word-wrap:break-word;
        }

        a:link {text-decoration:none;
          }
          .column1 {max-width:160px;}
          .column2 {max-width:1000px;}
          .column4 {min-width:80px;}
        </style>
    </head>

    <body>
        <h2>UK Chapter of the System Dynamics Society<br/>Annual Meeting<br/>26/27th March 2015<br/>London, UK</h2>
        <h1>Systo exercises</h1>

        <p>This page provides a set of exercises you can try out during the Systo part of the workshop on web-based modelling.</p>

        <p>You probably won't have enough time to try everything.  If you like, you can choose from the set of exercises depending on your interests, or even look around the rest of the <a href="http://www.systo.org">Systo web site</a>, and we can draw things together in the final discussion.   The exercises are independent of each other, though some of the text below refers to the preceding exercise.</p>

        <p>Two of the exercises (2 and 3) relate specifically to the two-species disease model that Kim Warren suggested could be shown in both Sysdea and Systo, to aid comparison of the two approaches.   The Sysdea version of the model is available <a href="https://app.sysdea.com/shared/VLiZDzT7WAB2LV4jCGqbxY3DCWB">here</a>.   Because of its use as a common model in the workshop, I suggest that you do at least one of exercises 2 and 3.</p>

        <p>Note: The full URL for each exercise is provided in case you want to print out this page and work from that.</p>

        <p>Robert Muetzelfeldt<br/>March, 2015</p>

        <table>
            <tr>
                <th>Exercise<br/>URL</td>
                <th>Description</td>
                <th>Things to do</td>
                <th>Easiness</td>
            </tr>

            <tr>
                <td class="column1"><b>1. Playing with a "Hello, world" example on the Systo home page.</b><br/><a href="http://www.systo.org">http://www.systo.org</a></td>
                <td class="column2">A simple but working example of Systo in action, using the familiar predator-prey model - a good place to start!</td>
                <td class="column3">Try the tasks suggested on the page.</td>
                <td class="column4"><b>Very easy</b></td>
            </tr>

            <tr>
                <td class="column1"><b>2. Viewing and using the two-species disease model in a dedicated web page.</b><br/><a href="http://www.systo.org/two_species_sir.html">http://www.systo.org/two_species_sir.html</a></td>
                <td class="column2"><p>The two-species disease model is presented in a regular web page, as the model diagram plus graphs showing how the number of animals and people in each disease state change over time.</p>
                    <p>Sliders are provided which you can move to change the initial value of each stock and each parameter value.</p></td>
                <td class="column3"><p>a. Explore the model diagram (zoom in, pan around, etc).</p>
                    <p>b. Look at one or two of the equations (double-click on a flow symbol or a variable).</p>
                    <p>c. Explore the behaviour of the model as you change initial stock values and parameter values.</p>
                </td>
                <td class="column4"><b>Easy</b></td>
            </tr>

            <tr>
                <td class="column1"><b>3. Viewing and using the two-species disease model in SystoLite.</b><br/><a href="http://www.systo.org/systolite.html?two_species_sir">http://www.systo.org/systolite.html?two_species_sir</a></td>
                <td class="column2"><p>SystoLite is a minimalist System Dynamics modelling environment, built using Systo widgets.</p>
                    <p>Some of these widgets are the same as the ones used to make a dedicated web page.</p></td>
                <td class="column3"><p>a. Do the same things as in the previous exercise.</p>
                    <p>b. Click on the tabs for alternative ways of displaying model results (e.g. MultiPlotter, Table);</p>
                    <p>c. Try changing the screen layout: move the dividers; click on the collapse button on a divider.</p>
                    <p>d. Try changing the run-time parameters (though caution: this particular model specifically requires a time step of 1).<br/>
                    <p>e. Edit the model diagram (by dragging nodes or arrows around), then check out the Undo/Redo buttons.</p>
                    <p>f. Click on the lower cog wheel button in the Plotter panel, and change the variables plotted on the graph.</p>
                    <p>g. Try changing a parameter value: double-click on the parameter, change the value, then click the "Run" button in the Run Control panel.  You may need to move a slider to see the new graphs.</p>
                    <p>h. If you are technically minded, click on the "Tech" button to see some of the internals.</p></td>
                <td class="column4"><b>Medium</b></td>
            </tr>

            <tr>
                <td class="column1"><b>4. Viewing and using other models in SystoLite.</b><br/><a href="http://www.systo.org/systolite.html">http://www.systo.org/systolite.html</a></td>
                <td class="column2"><p>Like other System Dynamics modelling environments, SystoLite allows you to view, edit and run any conformant model.</p>   
                    <p>Apart from the two-species disease model you use in the previous exercise, 3 others are built in, and can be accessed in the menu in the Toolbar panel.</p>    
                    <p>Additionally, models can be opened/saved locally, and eventually access will be provided to a web database (or databases).</p></td>
                <td class="column3">Choose another model, then explore it as in the previous exercise.</td>
                <td class="column4"><b>Medium</b></td>
            </tr>

            <tr>
                <td class="column1"><b>5. Use Systo's interactive tutorial system to learn how to build a Systo model from scratch.</b><br/><a href="http://www.systo.org/systolite.html">http://www.systo.org/systolite.html</a></td>
                <td class="column2"><p>Systo keeps track of all the edits you make to the model diagram, including adding nodes and arrows, moving these around, re-labelling nodes and entering values/equations.</p>   
                    <p>The main reason is to allow unlimited undo/redo's, but it proved to be quite easy to use this to guide the user through the process of building a model: you generate a bit of canned text for each step, and check that the user does the right thing.</p>   
                    <p>This means that anyone can make an interactive tutorial simply by making a model, then saving the undo/redo stack as a tutorial.</p></td>
                <td class="column3"><p>Click on the "Tutor" button, then choose one of the (currently two) available tutorials: a simple 1-stock model, or a simple SIR (susceptible-infected-resistant) disease model.  The instruction for the first step will then appear in the "Messages" panel.</p>
                    <p>Then, try to do that step: if you don't get it right, it should tell you and you can try again.</p>
                    <p>Alternatively, click on the "Cheat" button, and it will do the step for you!</p>
                    <p>If something goes wrong and you cannot proceed, then refresh the page, and try again, probably clicking on "Cheat" all the way through first to see what the model should look like.</p>
                    <p>Once you have completed the tutorial, try to build the same model from scratch, using the knowledge of using Systo you have now acquired.   To begin, click on "New" in the Toolbar panel, then do the steps you followed in the tutorial. Then click "Run" in the Run Control" panel.</td>
                <td class="column4"><p><b>Easy</b>, if you use the "Cheat" button;</p>
                    <p><b>Medium</b>, if you have experience of using other SD software;</p>
                    <p><b>Hard</b> otherwise.</p></td>
            </tr>
        </table>
    </body>
</html>
